[package]
name = "lightspeed"
license = "MIT"
version = "0.50.3"
authors = ["Francesco Cina <ufoscout@gmail.com>"]
description = "LightSpeed"
edition = "2018"
readme = "README.md"
homepage = "https://github.com/LightHero/lightspeed"
repository = "https://github.com/LightHero/lightspeed"
keywords = []

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
c3p0 = { version = "0.64", features = ["postgres_migrate"], optional = true }
lightspeed_auth = { version = "0.50.3", path = "../auth", optional = true }
lightspeed_cache = { version = "0.50.3", path = "../cache", optional = true }
lightspeed_cms = { version = "0.50.3", path = "../cms", optional = true }
lightspeed_core = { version = "0.50.3", path = "../core", optional = true }
lightspeed_email = { version = "0.50.3", path = "../email", optional = true }
lightspeed_file_store = { version = "0.50.3", path = "../file_store", optional = true }
lightspeed_hash = { version = "0.50.3", path = "../hash", optional = true }
lightspeed_logger = { version = "0.50.3", path = "../logger", optional = true }
lightspeed_scheduler = { version = "0.50.3", path = "../scheduler", optional = true }

[features]
default = ["core"]

auth = ["dep:lightspeed_auth"]
cache = ["dep:lightspeed_cache"]
cms = ["dep:lightspeed_cms"]
core = ["dep:lightspeed_core"]
email = ["dep:lightspeed_email"]
file_store = ["dep:lightspeed_file_store"]
hash = ["dep:lightspeed_hash"]
logger = ["dep:lightspeed_logger"]
scheduler = ["dep:lightspeed_scheduler"]

axum = ["lightspeed_core?/axum", "lightspeed_file_store?/axum"]
actix_web = ["lightspeed_core?/actix_web", "lightspeed_file_store?/actix_web"]
c3p0 = ["dep:c3p0", "lightspeed_core?/c3p0"]
poem = ["lightspeed_core?/poem"]
poem_openapi = ["lightspeed_core?/poem_openapi", "poem", "lightspeed_auth?/poem_openapi"]